 <div class="main-content">
 <table class="table">

    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>CategoryName</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tempProduct of product">
            <td class="align-middle">
                <a href=""><img src="{{ tempProduct.imageUrl }}" height="50" /></a>
            </td>
            <td class="align-middle"><a href="">{{ tempProduct.productId}}</a></td>
            <td class="align-middle"><a href="">{{ tempProduct.productName}}</a></td>
            <td class="align-middle"><a href="">{{ tempProduct.description }}</a></td>
            <td class="align-middle"><a href="">{{ tempProduct.price }}</a></td>
            <td class="align-middle"><a href="category/{{tempProduct.category.categoryName}}">{{ tempProduct.category.categoryName}}</a></td>
        </tr>

    </tbody>
</table>
</div>