 <div class="main-content">
 <table class="table">

    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>CategoryId</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tempProduct of product">
            <td class="align-middle">
                <img src="{{ tempProduct.imageUrl }}" height="50" />
            </td>
            <td class="align-middle">{{ tempProduct.productId}}</td>
            <td class="align-middle">{{ tempProduct.productName}}</td>
            <td class="align-middle">{{ tempProduct.description }}</td>
            <td class="align-middle">{{ tempProduct.price }}</td>
            <td class="align-middle">{{ tempProduct.category| json}}</td>
        </tr>

    </tbody>
</table>
</div>