<div class="col-md-6 offset-md-3">
    <h3> Update Product </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Product Id</label>
            <input type="number" class ="form-control" id = "productId"
                [(ngModel)] = "product" name = "productId">
        </div>
    
        <div class="form-group">
            <label> Product Name</label>
            <input type="text" class ="form-control" id = "productName"
                [(ngModel)] = "product.productName" name = "productName">
        </div>
    
        <div class="form-group">
            <label> Description</label>
            <input type="text" class ="form-control" id = "description"
                [(ngModel)] = "product.description" name = "descritpion">
        </div>

        <div class="form-group">
            <label> Price</label>
            <input type="number" class ="form-control" id = "price"
                [(ngModel)] = "product.price" name = "price">
        </div>

        <div class="form-group">
            <label> Category Id</label>
            <input type="number" class ="form-control" id = "categoryId"
                [(ngModel)] = "product.categoryId" name = "categoryId">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 
